@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  font-size: 13px !important;
  font-family: Heebo, sans-serif !important;
  background: #f9f9fb !important;
  color: #383838;
}

.broker-table thead th {
  background-color: #565082cc;
  color: #fff;
}

.broker-table tbody td {
  background-color: #f9f9fb;
  color: #18171c;
}

.broker-table tbody tr.light-red td {
  background-color: #e948531a;
}
