h1,
p {
  font-family: Lato;
}

.broker-table thead th {
  background-color: #565082cc;
  color: #fff;
}

.broker-table tbody td {
  background-color: #f9f9fb;
  color: #18171c;
}

.broker-table tbody tr.light-red td {
  background-color: #e948531a;
}
